<div class="container" style="margin-top:50px;padding:35px;">

    <div>
        <button class="btn btn-danger" [routerLink]="['../LiberarSueldos/']">Liberar Sueldos</button>
    </div>


    <div>
        <button class="btn btn-danger" [routerLink]="['../Marcaje/']">Marcar asistencia</button>
    </div>

    <div *ngIf="boleano_boton == 'Turnos'">
        <button [routerLink]="['../TurnosVariables/']" class="btn btn-primary" type="submit">Ir a turnos</button>
    </div>

    <div *ngIf="boleano_boton != 'Turnos'">
        <button class="btn btn-primary" type="submit">Turnos fijos</button>
    </div>

    <br>
    <ul class="list-group">

        <li *ngFor="let turnos_sin_liberar of turnos_sin_liberar | async" class="list-group-item">Liberación pendiente {{turnos_sin_liberar.mes}}/{{turnos_sin_liberar.anio}} <button [routerLink]="['../LiberarTurnos/',turnos_sin_liberar.mes, turnos_sin_liberar.anio]" style="float:right" type="button" class="btn btn-success btn-sm">Liberar</button>
        </li>

    </ul>



    <div *ngIf="entrada !== 0">
        
        <h2> Resumen Asistencia del día: </h2>
        <div class="card">
            <div class="card-body">
                <p>Hora Entrada: {{entrada}}</p>
                <p>Estatus Movimiento: {{ statusEntrada }} </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <p>Hora Salida: {{salida}}</p>
                <p>Estatus Movimiento: {{ statusSalida }} </p>
            </div>
        </div>

    </div>



</div>