<div class="container" style="margin-top:50px;padding:35px;">


  <div class="row justify-content-center">
        <form class="form-inline">
          <div class="form-group mb-2">
            <label for="staticEmail2" class="sr-only">Email</label>
                  <mat-form-field>
                    <input [(ngModel)]="calendario" name="calendario" matInput [matDatepicker]="picker" placeholder="Selecciona una fecha">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
          </div>

        <div class="form-group mx-sm-3 mb-2">
            
          </div>
           <button (click)="ActualizarFecha()" mat-raised-button color="primary">Ir </button>
        </form>
</div>
    <!-- <div class="input-group mb-3 row justify-content-center"><button type="button" class="btn btn-outline-primary">Buscar</button></div>
     <p>Value: {{ name }}</p> <p>Valid: {{ ctrl.dirty }}</p>
   -->

    <table class="table table-hover table-responsive-lg table-dark">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Movimiento</th>
                <th scope="col">Rut</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Imagenes</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let movimientos of movimientos">

                <th [routerLink]="['/DashBoard', movimientos.rut]" scope="row" style="cursor:pointer">{{ movimientos.nombre }}</th>
                <td>{{ movimientos.apellido }}</td>
                <td>{{ movimientos.movimiento | titlecase }}</td>
                <td>{{ movimientos.rut }}</td>
                 <td><button (click)="VisualizandoMapa(movimientos.locacion.lat, movimientos.locacion.long)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
 							 Visualizar mapa
							</button></td>


				 <td><button (click)="visualizarImagenes(movimientos.fecha, movimientos.rut)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1">
 							 Imagenes Registro
							</button></td>			

            </tr>

        </tbody>

        
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mapa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        	<agm-map style="height:300px;" [latitude]="lat" [longitude]="long"  zoomControl="true">
 				 <agm-marker [latitude]="lat" [longitude]="long"  ></agm-marker>
			</agm-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
       
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Respaldo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <li *ngFor="let imagArray of imagArray ; let i =index" >
        	
        	<img style="width:70%" [src]="imagArray | async">
        </li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
       
      </div>
    </div>
  </div>
</div>