<body class="text-center" style="padding:40px;">
    <div class="container">
        <form [formGroup]="forma" class="form-signin" (ngSubmit)="onSubmit(forma)">
            <img class="mb-4" src="../../assets/img/logo1.png" alt="">
            <h1 class="h3 mb-3 font-weight-normal">Ingresa tus datos: </h1>
            <label for="inputEmail" class="sr-only">Rut empresa</label>
            <input formControlName="rut_empresa" data-toggle="popover" data-content="asdf" data-placement="top" title="Ingresa tu rut sin guion" type="text" id="inputEmail" class="form-control" placeholder="Rut empresa" required autofocus>
            <br>
            <label for="inputPassword" class="sr-only">Clave</label>
            <input formControlName="clave" data-toggle="tooltip" data-placement="top" title="Ingresa tu clave" type="password" id="inputPassword" class="form-control" placeholder="Clave" required>
            <div class="checkbox mb-3">
                <label>
        <input type="checkbox" value="remember-me"> Recordarme
      </label>
            </div>
            <button [disabled]="!forma.valid" class="btn btn-lg btn-primary">Ingresar</button>
            <hr>
            <div *ngIf="!forma.valid" class="alert alert-danger" role="alert">
                El formulario no está completo
            </div>
            <div *ngIf="forma.valid" class="alert alert-success" role="alert">
                El formulario es válido
            </div>
            <p class="mt-5 mb-3 text-muted">&copy; Sister 2018</p>
        </form>
    </div>
</body>