<!--  
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['../Resumen']">Resumen</a></li>
            <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['../LiberarSueldos']">Haberes Imponibles</a></li>
            <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['../HaberNoImponible']">Haberes No Imponibles</a></li>
            <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['../Descuentos']">Descuentos</a></li>
        </ol>
    </nav>
-->

<mat-tab-group mat-stretch-tabs class="example-stretched-tabs" [selectedIndex]="selectedTab">
    <mat-tab label="Haberes Imponibles">
        <div class="container" style="margin-top:30px;">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-5">Generación de pago </h1>
                   
                    <p class="lead">En el siguiente formulario deberás armar los haberes para tu trabajador.</p>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Escribe la glosa del Haber Imponible que quieras agregar</label>
                        <input [(ngModel)]="GlosaHaber" type="text" class="form-control" placeholder="Ejemplo: Bono Ventas">
                        <small id="emailHelp" class="form-text text-muted">Glosa de haber imponible.</small>
                    </div>
                    <button (click)="agregar_haberes(GlosaHaber)" class="btn btn-warning ">Agregar Haberes</button>
                </div>
            </div>

            {{DatosTrabajador?.nombre}} AFP con {{ComisionAfp}} || El sueldo liquido: {{ DatosTrabajador?.sueldo }} El ngModel del input1: {{ValorHaberes[0]}} ||||||
            <br>{{ TotalHaberImponible }} // Isapre 7% {{  TotalHaberImponible * 0.07}}


<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-list role="list">
          <mat-list-item role="listitem">Sueldo a Pagar   {{ SueldoPagar }}</mat-list-item>
          <mat-list-item role="listitem">Descuento AFP:   {{ total_afp }}</mat-list-item>
          <mat-list-item role="listitem">Descuento ISAPRE:   {{ total_isapre }}</mat-list-item>
    </mat-list>
</mat-grid-tile>

  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>



            <form #forma='ngForm' (ngSubmit)="guardar(forma)" #forma="ngForm">


                <div *ngFor="let HaberesImponibles_ of HaberesImponibles; let i = index" class="form-group">
                    <label> {{ HaberesImponibles_ }} </label>

                    <input (input)="onSearchChange($event.target.value)" type="number" class="form-control" name="{{HaberesImponibles_}}" [(ngModel)]="ValorHaberes[i]">
                    <hr>
                    <br>
                </div>

                <button type="submit" class="btn btn-primary">Guardar Haberes</button>
            </form>
        </div>
    </mat-tab>

    <mat-tab label="Haberes no  imponibles">
        <app-haber-no-imponible></app-haber-no-imponible>
    </mat-tab>

    <mat-tab label="Sueldos Liberados">
        <app-SueldosLiberados></app-SueldosLiberados>
    </mat-tab>

    <mat-tab label="Resumen">
        <app-resumen></app-resumen>
    </mat-tab>
</mat-tab-group>