<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Perfil</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Opciones</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['./IngresoSucursal']">Ingresar Sucusal</a>
            <a class="dropdown-item" [routerLink]="['./Reportes']">Visualizar Reportes</a>
            <a class="dropdown-item" [routerLink]="['./SueldosComponent']">Sueldos</a>
            <!--<a class="dropdown-item" [routerLink]="['./PerfilTrabajador']">Something else here</a> -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>

</ul>


<div class="container" style="margin-top:50px;padding:35px;">


<!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>-->
<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
   
         
<div class="jumbotron">
  <div class="row">
      <div class="col">
        <h1 id="LetraEspecial"  class="display-4">¡RECUERDA!</h1>
      </div>
  </div>
  <p class="lead">Debes marcar solo tus turnos, escribir tu rut y no el de un compañero; el marcaje es personal. Debes realizar la entrada y salida cumpliendo con lo designado por tu jefatura. Todo lo que hagas con éste formulario se puede usar en tu favor para respaldar íntegramente tu cumplimiento de jornada. </p>
  <hr class="my-4">
           <div class="row justify-content-center">
                   <form [formGroup]="firstFormGroup">
                      <ng-template matStepLabel>Ingresa tu rut</ng-template>

   <webcam [height]="45" [width]="45" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
           
            [videoOptions]="videoOptions"
            
            (initError)="handleInitError($event)"
    ></webcam>
                <!--<pre><code>{{ meta | async }}</code></pre>
                <img [src]=" meta | async">


   <webcam [height]="45" [width]="45" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"
    ></webcam>
              -->


                      <mat-form-field>
                        <input (input)="GuardarFotos()" matInput placeholder="RUT" formControlName="firstCtrl" required>
                      </mat-form-field>
                      <div>
                        <button (click)="BuscarRutMovimientosAsociados()" mat-raised-button color="warn" matStepperNext>Siguiente</button>
                      </div>
                    </form>
            </div>
  <p class="lead">
   <!-- <a class="btn btn-primary btn-lg" [routerLink]="['']" role="button">Volver</a>-->
  </p>
</div>








  </mat-step>





  <!-- ********************************************************  -->

<!-- SIGUE CON SEGUNDO PASO: -->

  <mat-step [stepControl]="secondFormGroup">
 <ng-template matStepLabel>Marca Movimiento</ng-template>
      

{{ long }}
{{ lat }}

<div class="card" >
 <agm-map style="height:300px;" [latitude]="lat" [longitude]="long"  zoomControl="true">
  <agm-marker [latitude]="lat" [longitude]="long"  ></agm-marker>
</agm-map>
  <div class="card-body">
    <h5 class="card-title">Marca Movimiento</h5>

    <p *ngIf="currentMov != 'listo'" class="card-text">Recuerda que al marcar será irreversible la hora y ubicación, marca cuidadosamente tu turno. También debes firmar el libro de asistencia.    </p>  

     <p *ngIf="currentMov == 'listo'" class="card-text">Los turnos de hoy han sido realizados .    </p>  
        <div *ngIf="DeteccionRostro">
  <button (click)="FuncionMarcarEntrada()" *ngIf="currentMov == 'entrada' " type="button" class="btn btn-outline-primary">Marca Entrada</button>

  <button (click)="FuncionMarcarEntrada()" *ngIf="currentMov == 'salida' "  type="button" class="btn btn-outline-primary">Marca Salida</button>
        </div>


        <div  *ngIf="!DeteccionRostro"><h3>Debes mostrar claramente tu rostro</h3></div>


  </div>
</div>
 



     <!-- <div class="container">
        <div style="text-align:center">

<li *ngFor="let item of movimientos  | async">{{ item.nombre }} </li>
          <li *ngFor="let item of movimientos  | async">{{ item.nombre }} </li>
  <h1>
    Ngx-Webcam Demo
  </h1>

  <div> -->
 <!--
    <br/>
    <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
    <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button>
    <br/>
    <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next Webcam</button>
    <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"><label for="cameraSwitchCheckbox">Allow Camera Switch</label>
    <br/>
    DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
    <button (click)="showNextWebcam(deviceId);">Activate</button>
  </div>
</div>

<div class="snapshot" *ngIf="webcamImage">
  <h2>Nice one!</h2>
  <img [src]="webcamImage.imageAsDataUrl"/>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>
      </div>
-->

      <div>
        <button mat-button matStepperPrevious>Volver</button>
        <!--<button mat-button matStepperNext>Siguiente</button>-->
      </div>
    
  </mat-step>

<!-- ********************************************************  -->

<!-- SIGUE CON TERCER PASO: -->

  <mat-step>
    <ng-template matStepLabel>Listo!</ng-template>
    Proceso realizado.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>




</div>




